<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rack_bin">
  <link
    name="rack_bin">
    <inertial>
      <origin
        xyz="0.052387 -0.098266 0.024773"
        rpy="0 0 0" />
      <mass
        value="1.2063" />
      <inertia
        ixx="0.0058116"
        ixy="2.32599999999999E-20"
        ixz="1.5779E-18"
        iyy="0.0022601"
        iyz="0.00044757"
        izz="0.0067169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/rack_bin/meshes/blue_bin.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
        <texture
          filename="package://suii_description/Field/rack_bin/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/rack_bin/meshes/blue_bin.dae" />
      </geometry>
    </collision>
  </link>
</robot>
