<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Part2.SLDPRT">
  <link
    name="alu_prof_large_black">
    <inertial>
      <origin
        xyz="-0.01842 -0.05 -0.018504"
        rpy="0 0 0" />
      <mass
        value="0.186" />
      <inertia
        ixx="7.5037E-05"
        ixy="2.73105966834574E-21"
        ixz="2.189E-08"
        iyy="2.2806E-05"
        iyz="2.75135428616951E-21"
        izz="7.4983E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/objects/meshes/alu_prof_large_black.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://suii_description/Field/objects/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/objects/meshes/alu_prof_large_black.dae" />
      </geometry>
    </collision>
    <ode>
      <mu>-dInfinity</mu>
      <mu2>-dInfinity</mu2>
      <fdir1>1 0 0</fdir1>
      <slip1>0</slip1>
      <slip2>0</slip2>
    </ode>
    <kinematic>true</kinematic>
  </link>
</robot>