<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="lagerblok.SLDPRT">
  <link
    name="lagerblok.SLDPRT">
    <inertial>
      <origin
        xyz="0.04 0.024666 5.80039998489693E-10"
        rpy="0 0 0" />
      <mass
        value="0.13107" />
      <inertia
        ixx="5.2618E-05"
        ixy="1.5568E-12"
        ixz="7.484E-12"
        iyy="2.3489E-05"
        iyz="-2.77679999195801E-13"
        izz="3.6623E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/objects/meshes/bearingblock.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
        <texture
          filename="package://suii_description/Field/objects/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://suii_description/Field/objects/meshes/bearingblock.STL" />
      </geometry>
    </collision>
  </link>
</robot>