<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
      name="suii" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- suii -->
  <xacro:include filename="$(find suii_description)/urdf/suii.xacro" />

  <!-- arm -->
  <xacro:suii_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

</robot>
